<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit ThaiSongs</title>
</head>
<body>
    <h1>Edit ThaiSongs</h1>
    <form method="post" action="/EditThaiSongs/<%= ThaiSongs.rank%>">
        <label for="namesong">Namesong: </label>
        <input type="text" id="namesong" name="namesong" value="<%= ThaiSongs.namesong %>">
        <br>
        <label for="artist">Artist:</label>
        <input type="text" id="artist" name="artist" value="<%= ThaiSongs.artist %>">
        <br>
        <input type="submit" value="Update">
    </form>
<a href="/book/<%= ThaiSongs.id %>">View</a>
<a href="/DeleteThaiSongs/<%= ThaiSongs.rank %>">Delete</a>
<a href="/">Back to List</a>
</body>
</html>