<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit KreanSongs</title>
</head>
<body>
    <h1>Edit KoreanSongs</h1>
    <form method="post" action="/EditKoreanSongs/<%= KoreanSongs.rank%>">
        <label for="namesong">Namesong: </label>
        <input type="text" id="namesong" name="namesong" value="<%= KoreanSongs.namesong %>">
        <br>
        <label for="artist">Artist:</label>
        <input type="text" id="artist" name="artist" value="<%= KoreanSongs.artist %>">
        <br>
        <input type="submit" value="Update">
    </form>
<a href="/book/<%= KoreanSongs.id %>">View</a>
<a href="/delete/<%= KoreanSongs.id %>">Delete</a>
<a href="/">Back to List</a>
</body>
</html>